.home-title{
    margin-left: 100px;
    margin-top: 280px;
    width: 933px;
    height: 248px;
    color: rgb(20, 24, 62);
    font-family: Inter;
    font-size: 90px;
    font-weight: 700;
    line-height: 109px;
    letter-spacing: 0%;
    text-align: left;
    animation: fadein 1s;
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

.animated {
    display: inline
}