.reco-title {
    margin-top: 40px;
    margin-left: 100px;  
    width: 370px;
    height: 43px;
    color: rgb(30, 29, 76);
    font-size: 30px;
    font-weight: 600;
    line-height: 41px;
    text-align: left;
}

.reco-middle{
    height: 400px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.reco-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 365px;
    height: 273px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.reco-type{
    margin-left: 36px;
    margin-top: 50px;
    width: 75px;
    height: 27px;
    color: rgb(132, 130, 154);
    font-size: 22px;
    font-weight: 500;
    text-align: left;
}

.reco-name{
    margin-left: 31px;
    margin-top: 0;
    margin-bottom: 0;
    width: 250px;
    height: 52px;
    color: rgb(8, 8, 8);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: left;
}

.reco-content{
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 300px;
    color: rgb(132, 130, 154);
    font-size: 22px;
    font-weight: 500;
    text-align: left;
}

.reco-credit{
    margin-top: 0;
    margin-bottom: 0;
}

.reco-professor{
    margin-top: 0;
    margin-bottom: 0;
}

.reco-score{
    margin-top: 0;
    margin-bottom: 0;
}