.reco-title {
    margin-top: 40px;
    margin-left: 100px;  
    width: 370px;
    height: 43px;
    color: rgb(30, 29, 76);
    font-size: 30px;
    font-weight: 600;
    line-height: 41px;
    text-align: left;
}

.reco-middle{
    height: 400px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.reco-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}

.reco-card-middle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 310px;
}

.reco-name{
    margin-left: 20px;
    width: 138.62px;
    height: 19.3px;
    color: rgb(94, 98, 130);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: left;
}

.reco-content{
    width: 151px;
    height: 17px;
    margin-left: 50px;
    margin-top: 0;
    color: rgb(94, 98, 130);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: left;
}

.reco-score{
    width: 42.86px;
    height: 19.3px;
    color: rgb(94, 98, 130);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2450000047683716;
    letter-spacing: 0%;
    text-align: left;
}