.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 16px;
}

.numButton {
    border: none;
    padding: none;
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #636363;
    background-color: rgb(255, 255, 255)
  }

  .dirButton {
    border: none;
    padding: none;
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #636363;
    background-color: rgb(255, 255, 255)
  }

  .aria-current {
    font-weight: bold;
  }